@media screen and (max-width: 960px) {

  .saleSlider .slick-prev {
    left: 40%;
    bottom: 17px;
    top: inherit;
}

  .saleSlider .slick-next {
    right: 40%;
    bottom: 17px;
    top: inherit;
}
  
     .setting-card .col-lg-4 {
        width: 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
  
  .dataTables_wrapper{ overflow-x: scroll;}
  .pro-detls-watchlist p{ justify-content: start;}
  
      .header-searchTbl .productsearch {
        padding-top: 7px;
        padding-bottom: 8px;
    }
  
      .header-searchTbl .searchCat {
        padding-top: 7px;
        padding-bottom: 7px;
    }
  .header-searchTbl .submit{ padding-top: 5px !important;
    padding-bottom: 5px !important;}
  
  .setting-card .col-lg-12{ padding-right:15px; padding-left:15px;}
  .setting-card  .col-lg-6{padding-right:15px; padding-left:15px;     -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;}
.productlistShopwatch .productlistShopCol {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 7px;
    height: 100%;
    margin-bottom: 45px;
}
  
 .productBox .productBoxTitle a {
    height: auto;
    overflow: hidden;
} 
  
.productBox .productBoxText {
    height: auto;
    overflow: hidden;
}


  
  

}